# Data cleaning

Because the dataset has mainly categorical values I'll start with cleaning it, and then I'll continue with analyzing it.

In [1]:
#Importing pandas
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

As we can see, we do not have NAN values directly into our dataset, so we can affirme that they are in another form

Before analysing correlation between features, it would be better to clean the data

I will use value_counts function to analyze every column in particular

The reason I didn't use a function is because I prefered to analyze directly the columns by themselves with value_counts, that will help me choose better the model which I will apply to the column

In [5]:
#Analyzing 'workclass' column 
df['workclass'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [6]:
#Analyzing 'occupation' column 
df['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

We have only 2 columns with NAN values marked as '?'
We won't remove them, even though in these 2 columns most of the rows (95%) have a NAN value in both of the columns (workclass and occupation), especially because that would include excluding some minority values (as Never-worked in 'workclass' and Armed-Forces in 'occupation', and also reducing some others).
So we will impute them as a separate value because they are a relatively big part of our dataset (also including finalweight), and we'll give them a separate frequancy imputation to store that information.

Also as we have different value counts for each class, its safe to impute them with this model

In [7]:
#We will replace the categorical values in numerical values so that we will be able to impute them with Frequency Imp later
df['workclass'] = df['workclass'].replace(df['workclass'].unique().tolist(), [*range(0, 9, 1)])

In [8]:
#Replacing with num values the 'occupation' column
df['occupation'] = df['occupation'].replace(df['occupation'].unique().tolist(),[*range(0, 15, 1)] )

In [9]:
#Analyzing 'education' column 
df['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [10]:
#Replacing with values the 'education' column
df['education'] = df['education'].replace(df['education'].unique().tolist(),[*range(0, 16, 1)] )

In [11]:
#Analyzing 'marital.status' column 
df['marital.status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital.status, dtype: int64

In [12]:
#Replacing with numerical values the 'marital.status' column
df['marital.status'] = df['marital.status'].replace(df['marital.status'].unique().tolist(),[*range(0, 7, 1)] )

In [13]:
#Analyzing 'relationship' column 
df['relationship'].value_counts()

Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

In [14]:
#Replacing with num values the 'relationship' column
df['relationship'] = df['relationship'].replace(df['relationship'].unique().tolist(),[*range(0, 6, 1)] )

In [15]:
#Analyzing 'race' column 
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [16]:
#Replacing with num values the 'race' column
df['race'] = df['race'].replace(df['race'].unique().tolist(),[*range(0, 5, 1)] )

In [17]:
#Analyzing 'sex' column 
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [18]:
#Creating a dummy variable for the 'sex' column
df = pd.get_dummies(df, columns=['sex'], drop_first = True)

In [19]:
#Analyzing 'native.country' column 
df['native.country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64

In [20]:
#Replacing with num values the 'native.country' column
df['native.country'] = df['native.country'].replace(df['native.country'].unique().tolist(),[*range(0, 42, 1)] )

We can see that for 'native country' column we have some countries that have the same number of counts, so for this column 
we'll use target imputation

In [21]:
#Analyzing TARGET column 
df['income'].value_counts()

<=50K    24720
>50K      7841
Name: income, dtype: int64

We'll understand that as having a high income (>50K) and low income (<=50K)

In [22]:
#Creating a dummy variable for the 'income' column
df = pd.get_dummies(df, columns=['income'], drop_first = True)

In [23]:
#Changing data types to float for the Transformers
df = df.astype(float)

In [24]:
#Importing the transformer from Imperio library and instantiating the model
from imperio import FrequencyImputationTransformer
freq = FrequencyImputationTransformer()

In [25]:
#Applying frequency imputation to our dataset
new_df = freq.apply(df, target = 'income_>50K', columns = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race'] )

In [26]:
#Importing Target Imputation 
from imperio import TargetImputationTransformer
target = TargetImputationTransformer()

In [27]:
#Applying target imputation to 'native country' column
new_df = target.apply(new_df, target = 'income_>50K', columns = ['native.country'] )

In [28]:
new_df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,capital.gain,capital.loss,hours.per.week,native.country,sex_Male,income_>50K
0,90.0,0.056386,77053.0,0.322502,9.0,0.030497,0.056601,0.255060,0.854274,0.0,4356.0,40.0,0.245835,0.0,0.0
1,82.0,0.697030,132870.0,0.322502,9.0,0.030497,0.124873,0.255060,0.854274,0.0,4356.0,18.0,0.245835,0.0,0.0
2,66.0,0.056386,186061.0,0.223918,10.0,0.030497,0.056601,0.105832,0.095943,0.0,4356.0,40.0,0.245835,0.0,0.0
3,54.0,0.697030,140359.0,0.019840,4.0,0.136452,0.061485,0.105832,0.854274,0.0,3900.0,40.0,0.245835,0.0,0.0
4,41.0,0.697030,264663.0,0.223918,10.0,0.031479,0.127146,0.155646,0.854274,0.0,3900.0,40.0,0.245835,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22.0,0.697030,310152.0,0.223918,10.0,0.328092,0.019932,0.255060,0.854274,0.0,0.0,40.0,0.245835,1.0,0.0
32557,27.0,0.697030,257302.0,0.032769,12.0,0.459937,0.028500,0.048156,0.854274,0.0,0.0,38.0,0.245835,0.0,0.0
32558,40.0,0.697030,154374.0,0.322502,9.0,0.459937,0.061485,0.405178,0.854274,0.0,0.0,40.0,0.245835,1.0,1.0
32559,58.0,0.697030,151910.0,0.322502,9.0,0.030497,0.115783,0.105832,0.854274,0.0,0.0,40.0,0.245835,0.0,0.0
32560,22.0,0.697030,201490.0,0.322502,9.0,0.328092,0.115783,0.155646,0.854274,0.0,0.0,20.0,0.245835,1.0,0.0

Our dataset is ready to be analyzed

In [29]:
#Saving the dataset as a new csv file
new_df.to_csv("data2.csv")